h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.add-pizza-button {
  margin: 0 0 40px 85px;
}

.pizza-names {
  text-align: center;
}

th.coolclass {
  color: #1616d6;
}

div.styled {
  max-width: 1200px;
  margin: auto;
  border-radius: 25px;
  border: 7px solid #217aad;
  /* margin: auto; */
  /* width: 50%; */
}